@import '~/styles/base';

.main {
  width: 100%;
  display: flex;
  padding: 25px 0;
  font-size: 16px;
}

.filter {
  max-width: 375px;
  max-width: 0;
  transition: all 0.2s linear;
  overflow: hidden;
  @include tablet {
    position: fixed;
    top: 80px;
    right: 0;
    max-width: 350px;
    width: 100%;
    z-index: 2;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.2s linear;
  }

  &.is-open {
    max-width: 375px;
    @include tablet {
      max-width: 375px;
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.content {
  flex: 1;
  margin-left: 24px;
  position: relative;

  @include sp {
    margin-left: 0;
  }

  .filter__btn {
    display: none;
    color: var(--bg-color-primary);
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: var(--bg-gradient01);
    display: flex;
    justify-content: center;
    align-items: center;

  }
}