@import '~/styles/base';
.__next {
  background-color: #fff;
}
.manage {
  &__layout {
    background-color: var(--bg-color-primary);
    padding: 30px 16px;
  }
  &__heading {
    font-size: 18px;
    display: inline-block;
    border-bottom: 5px solid var(--color-primary);
    padding-bottom: 5px;
  }
  &__table {
    width: 100%;
    margin-top: 30px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      height: 8px;
      margin-top: 12px;
    }
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    
    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      border-radius: 12px;
      background: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    table {
      width: 100%;
      min-width: 800px;
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      border-radius: 12px 12px 0 0;
      th {
        text-align: left;
        font-size: 13px;
        background-color: #F6F9FC;
        padding: 12px 0;
        font-weight: bold;
        &:first-child {
          padding-left: 16px;
          border-top-left-radius: 12px;
        }
        &:last-child {
          padding-right: 16px;
          border-top-right-radius: 12px;
          display: flex;
        }
      }
      td {
        padding: 12px 0;
        &:first-child {
          padding-left: 16px;
        }
        &:last-child {
          padding-right: 16px;
        }
      }
      tr {
        transition: all 0.2s linear;
        &:nth-child(even) {
          border-top: 1px solid var(--border-gray-color);
          background-color: #f5f5f5;
        }
        &:hover {
          background-color: #f7f9fb;
        }
      }
    }
    &__btn {
      width: 25px;
      height: 25px;
      border-radius: 6px;
      cursor: pointer;
      color: #fff;
      margin: 0 3px;
      span {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &--view {
        background-color: #5E72E4;
      }
      &--edit {
        background-color: #2DCE89;
      }
      &--delete {
        background-color: #F5365C;
      }
    }
  }
}