.user-item {
  display: inline-block;
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__info {
    // flex: 1;
    margin-left: 6px;
    font-size: 14px;
    line-height: 1.2;
  }
  &__name {
    display: block;
  }
  &__time {
    font-size: 11px;
    color: #a8b3cf;
  }
}