@import '~/styles/base';

.wrapper {
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: stretch;
}

.comment__layout {
    min-width: 300px;
    min-height: 100vh;
    border-right: 1px solid var(--border-gray-color);
}

.post {
    padding-top: 20px;
    position: relative;
}

.post-detail {
    width: 100%;
    position: relative;
    .bookmark {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 6px;
        padding: 6px 6px 3px 6px;
        font-size: 24px;
        &.active {
            color: #ffe729;
        }
    }
}

.related-post {
    margin-top: 20px;
    padding: 16px 0;
    border-top: 1px solid var(--border-gray-color);
}
