@import '~/styles/base';

.wrapper {
  padding: 16px;
  font-size: 16px;
  .heading {
    font-size: 24px;
    padding-bottom: 4px;
    font-weight: normal;
    color: var(--color-primary);
    border-bottom: 5px solid currentColor;
    display: inline;
    @include sp {
      font-size: 16px;
    }
  }
}