.filter {
  display: inline-block;
  padding: 6px 12px;
  width: fit-content;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  cursor: pointer;
  &:hover {
    background-color: $grayColor;
  }
  &__ttl {
    font-size: 13px;
    padding-right: 6px;
  }
  &__ico {

  }
}