.wrapper {
  width: 100%;
  border: 1px solid var(--border-gray-color);
  padding: 20px;
  border-radius: 8px;
  background-color: var(--bg-color-primary);
}

.search {
  margin-top: 10px;
  width: 100%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-gray-color);
  border-radius: 6px;
  overflow: hidden;
  input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 20px;
    background: var(--bg-color-primary);
    &:not(:placeholder-shown), &:focus {
        & + span {
        width: 80px;
        background: linear-gradient(90deg, #2d8bf6 0, #2a49e6);;
        color: var(--bg-color-primary)
      }
    }
  }
  span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--border-gray-color);
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      opacity: 0.7;
    }
  }
}