@import '~/styles/base';

.comment_btn {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--text-secondary-color);

  span {
    margin-right: 6px;
  }
}

.comment-layout {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  height: 80vh;
  width: 95%;
  background-color: var(--bg-color-primary);
  max-width: 800px;
  // padding: 16px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.3s linear;
  pointer-events: none;

  &.is-show {
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: visible;
  }

  &__header {
    padding: 24px;
    border-bottom: 1px solid var(--border-gray-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    h3 {
      font-size: 18px;
    }
  }

  &__input {
    display: flex;

    input {
      flex: 1;
      border: none;
      outline: none;
      border: 1px solid var(--border-gray-color);
      padding: 5px 16px;
      border-radius: 5px;
    }
  }
}

.comment-layout__content {
  padding: 24px;
  overflow-y: auto;
  flex: 1;
  margin-bottom: 24px;

  /* width */
  &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

// comment block
.comment-block {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border-gray-color);

  &__reply {
    margin-left: 20px;
    border-left: 2px solid var(--border-gray-color);
    padding-left: 10px;
  }

  &__input {
    margin-left: 20px;
    margin-top: 10px;
  }
}

// comment item
.comment-layout__item {
  padding: 3px 0;

  &--name {
    font-weight: bold;
  }

  &--content {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;
    margin-top: 5px;
    background-color: var(--bg-gray-light);
  }

  &--tag {
    font-weight: bold;
    display: inline-block;
    margin-right: 4px;
  }

  &--bot {
    margin-top: 6px;
    display: flex;
    margin-left: 5px;
    font-size: 12px;
    gap: 12px;

    .like,
    .reply {
      cursor: pointer;
      transition: all 0.2s linear;

      &:hover {
        text-decoration: underline;
      }
    }

    .utils {
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

// Tooltip
.tooltip-wrapper {
  padding: 5px 0;
  background-color: var(--bg-color-primary);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;

  &__item {
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--bg-gray-light);
    }

    span {
      flex: 1;
      margin-left: 4px;
    }
  }
}