@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  background-color: #f9f9f9;
}

/* Declare */
:root {
  --bg-color-primary: #fff;
  --color-primary: #335cc5;
  --color-secondary: #00e68d;
  --border-gray-color: #e9e9e9;
  --text-secondary-color: #c1c1c1;
  --error-color: #ff6060;
  --bg-gray-light: rgb(244, 244, 244);
  --bg-gradient01: linear-gradient(90deg, #2d8bf6 0, #2a49e6);
  --bg-gradient02: linear-gradient(90deg, #9600ff 0, #aebaf8);
  --bg-color-secondary: #757575;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}

/* Tool tip */
.tooltip-text {
  padding: 4px 12px;
  background: var(--bg-gradient01);
  border-radius: 2px;
  color: var(--bg-color-primary)
}