@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  background-color: #f9f9f9;
}

/* Declare */
:root {
  --bg-color-primary: #fff;
  --color-primary: #335cc5;
  --border-gray-color: rgb(233,233,233);
  --text-secondary-color: #c1c1c1;
}
button {
  border: none;
  outline: none;
  background-color: transparent;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}