@import '~/styles/base';

.question__layout {
  margin-top: 30px;
  @include sp {
    margin-top: 24px;
  }
}

.question__item {
  margin-bottom: 8px;
  display: flex;
  cursor: pointer;
  &--content {
    border-radius: 4px;
    background-color: var(--bg-color-primary);
    padding: 12px;
    flex: 1;
    @include sp {
      padding: 8px;
    }
  }
  &:hover {
    .question__item--title {
      color: var(--color-primary);
    }
  }
  &--action {
    width: 50px;
    @include sp {
      width: 30px;
    }
  }
  &--author{
    font-size: 14px;
    cursor: pointer;
    @include sp {
      font-size: 12px;
    }
  }

  &--title{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    transition: all 0.2s linear;
    @include sp {
      font-size: 14px;
    }
  }

  &--tags{
    display: flex;
    list-style-type: none;
    gap: 8px;
    @include sp {
      gap: 4px;
    }
  }

  &--tag{
    background-color: var(--bg-gray-light);
    font-size: 12px;
    border-radius: 4px;
    padding: 4px 12px;
    @include sp {
      font-size: 10px;
      padding: 2px 8px;
    }
  }

  &--time{
    font-size: 10px;
    color: var(--text-secondary-color);
    @include sp {
      font-size: 8px;
    }
  }

  &--action{
    display: flex;
    gap: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include sp {
      gap: 8px;
    }
  }
  &--btncheck{
    cursor: pointer;
    font-size: 18px;
    color: #2c984f;
    @include sp {
      font-size: 14px;
    }
  }
  &--btnscore{
    cursor: pointer;
    font-size: 18px;
    color: var(--text-secondary-color);
    @include sp {
      font-size: 14px;
    }
  }
}

time.time {
  font-size: 12px;
  color: var(--text-secondary-color);
}