.question__layout {
  margin-top: 30px;
}

.question__item {
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: var(--bg-gray-light);
  padding: 12px;

  &--author{
    color: var(--color-primary);
  }

  &--title{
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

  }

  &--tags{
    display: flex;
    list-style-type: none;
    gap: 8px;
  }

  &--tag{
    background-color: var(--bg-color-primary);
    font-size: 12px;
    border-radius: 4px;
    padding: 4px 12px;
  }

  &--time{
    font-size: 12px;
    color: var(--text-secondary-color);
  }

  &--action{
    display: flex;
    gap: 12px;
  }
  &--btncheck{
    cursor: pointer;
    color: var(--text-secondary-color);
    &:hover{
      color: var(--color-secondary);
    }
  }
  &--btnclose{
    cursor: pointer;
    color: var(--text-secondary-color);
    &:hover{
      color: var(--error-color);
    }
  }

}
